body {
	text-align: center;
	background-image: url("../images/fortune.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#masthead {
	display: none;
}

h1 {
	color: #C71585;
	font-family: 'Henny Penny', cursive;	
	font-size: 42px;
	margin-top: 20px;
	text-shadow: 1px 1px 2px #c6d794;	
}

h2 {
	display: inline-block;
	color: #f8eb89;
	font-family: Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
	font-size: 38px;
	margin-top: 5px;
	text-shadow: 2px 2px 2px black;	
}

#scoreBoard {
	color: #fff;
	font-family: Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
	font-size: 24px;
	line-height: 24px;
	margin: 40px auto;
	width: 25%;
}

#guesses {
	border: 1px solid #DB7093;
	border-radius: 75px;
	color: #FAFAD2;
	font-size: 32px;
	font-weight: 900;
	height: 40px;
	margin-top: 10px;
	padding-top: 10px;
}

#alerts {
	color: #C71585;
	font-size: 28px;
	font-weight: 900;
	line-height: 32px;
	margin-top: 15px;
}